<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: cadetblue ;
            padding: 9px;
        }
        h2{
            background-color: cornflowerblue;
            padding: 15px;

        }
    </style>
</head>
<body>
    <center>
        <h1>JINJA_PRINT</h1>
        <h2>{{name}}.. daughter of {{fn}} and {{mn}}</h2>
    </center>
</body>
</html>